<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bigfoot Rage adventure game">
    <meta name="keywords" content="bigfoot, game, adventure, text-based game, python">
    <link rel="stylesheet" href="/views/layout.html">
    <title>Bigfoot Rage</title>
</head>

<body>
    <header>

    </header>
    <main>
        <div id="background-div">
            <a><img id="background-image" src="https://i.imgur.com/r25XFbN.jpeg" alt="Spooky red forest" /></a>
        </div>
    <button onclick="window.location.reload()">Run Program</button>
    <div id="terminal"></div>
    </main>
    <footer>
        <div id="footer-social">Andreas Karlsson 2023</div>
    </footer>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>