<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bigfoot Rage adventure game">
    <meta name="keywords" content="bigfoot, game, adventure, text-based game, python">
    <link rel="shortcut icon" href="#"/> <!--- Fixes the favicon error -->
    <link rel="stylesheet" href="https://raw.githubusercontent.com/andreas-ka/bigfoot-rage/main/assets/css/style.css"/>
    <title>Bigfoot Rage</title>
</head>
<body>
    <header>
        <div id="button-div">
            <button onclick="window.location.reload()">Run Program</button>
        </div>
    </header>
    <main>
        <div id="terminal"></div>
    </main>
    <footer>
        <div id="footer-social">
            <p>Andreas Karlsson 2023<br>
                <a href="https://github.com/andreas-ka" target="_blank" rel="noopener" aria-label="Visit my github repository page, opens up in new tab"><i class="fa-brands fa-github" style="color: #ffffff"></i></a>
                <a href="https://www.linkedin.com/in/andreas-karlsson-48902249/" target="_blank" rel="noopener" aria-label="Visit my linkedin page, opens up in new tab"><i class="fa-brands fa-linkedin" style="color: #ffffff"></i></a>
            </p>
        </div>       
    </footer>
    <script src="https://kit.fontawesome.com/bd05bc0350.js" crossorigin="anonymous"></script>
    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
        
    </script>
</body>